nav{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    background-color: #230f02;
    text-align: center;
}
nav a{
    color: #E7A748;
    margin-left: 1.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;}