body{
    font-family: Zen Antique Soft,serif;
    text-align: center;}
h1{
    margin-left: 1.5rem;
}
header{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    display: flex;
    justify-content: space-between; /* Puts h1 left, nav right */
    align-items: center;            /* Vertically centers both */
    background-color: #230f02;
}

nav a{
    color: #E7A748;
    margin-left: 1.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

#title{
font-family: Zen Antique Soft,serif;
 color: #E7A748;
 font-size: 4rem;
 
}

.MainText{
    text-align: left;
    font-family: Nunito;
    margin-left: 1.5rem;
}
#paragraph1{
    margin-top: -3.5rem;
    font-size: 2rem;
    color: #D8D0BC;
}
