nav{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    background-color: #230f02;
    text-align: center;
}
.fa-solid{
    margin-right: 1rem;
}
nav a{
    color: #E7A748;
    margin-left: 1.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;}
    body{
        background-color: #D8D0BC;
    }
    nav a:hover{
    color: #D8D0BC;
}
    h1{
        font-size: 3.5rem;
        font-family: Zen Antique Soft,serif;
        text-align: center;
        color: #230f02;
    }
p{
    text-align: center;
    font-size: 1.5rem;
    font-family: Nunito;
    margin-top: -2rem;
    color: #230f02;
}