body{
    font-family: Zen Antique Soft,serif;
    text-align: center;
    background-color: #230f02;
    color: #D8D0BC;
}

.Lightbg{background-color: #D8D0BC;}


h1{
    margin-left: 1.5rem;
}
.HeadTitle{
        font-size: 3.5rem;
        font-family: Zen Antique Soft,serif;
        text-align: center;
        color: #230f02;
        margin-bottom: -1.5rem;
}
.index{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    display: flex;
    justify-content: space-between; /* Puts h1 left, nav right */
    align-items: center;            /* Vertically centers both */
    background-color: #0c0501;
}
nav{ 
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    background-color: #0c0501;}
nav a{
    
    color: #E7A748;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #D8D0BC;
}

#title{
 font-family: Zen Antique Soft,serif;
 color: #E7A748;
 font-size: 4rem;
 margin-left: 2rem;
}

.MainText{
    text-align: left;
    font-family: Nunito;
    margin-left: 1.5rem;
}
#paragraph1{
    margin-top: -1.5rem;
    font-size: 2rem;
    color: #D8D0BC;
    margin-left: 2rem;
}
h3 a{
    font-size: 1.5rem;
    color: #D8D0BC;
    display: inline-block; 
    background-color: #8D2335;
    border-radius: 1rem; 
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    transition: background 0.5s; 
    margin-left: 2rem;
}
h3 a:hover{
    background-color: #230f02;
}
#promotion{
    margin-top: 15rem;
}
main{
    text-align: center;
    font-size: 1.5rem;
    font-family: Nunito;
    margin-top: -2rem;
    color: #230f02;
}
.MainText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}


/* Hero image container */
#hero-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The actual image */
#hero-image img {
    width: 80%;
    height: auto;
    /* Fade edges to the site background color */
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}
/* Cards styling on products page */

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    
}
.card{
    background-color: aliceblue;
    border-radius: 16px;
    text-align: center;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

