body{
    font-family: Zen Antique Soft,serif;
    text-align: center;
    background-color: #230f02;
    color: #D8D0BC;
}

.about{background-color: #D8D0BC;}

h1{
    margin-left: 1.5rem;
}
.aboutH{
        font-size: 3.5rem;
        font-family: Zen Antique Soft,serif;
        text-align: center;
        color: #230f02;
}
.index{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    display: flex;
    justify-content: space-between; /* Puts h1 left, nav right */
    align-items: center;            /* Vertically centers both */
    background-color: #230f02;
}
nav{ 
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    background-color: #230f02;}
nav a{
    
    color: #E7A748;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover{
    color: #D8D0BC;
}

#title{
font-family: Zen Antique Soft,serif;
 color: #E7A748;
 font-size: 4rem;
 
}

.MainText{
    text-align: left;
    font-family: Nunito;
    margin-left: 1.5rem;
}
#paragraph1{
    margin-top: -3rem;
    font-size: 2rem;
    color: #D8D0BC;
}
h3 a{
    font-size: 1.5rem;
    color: #D8D0BC;
    display: inline-block; 
    background-color: #8D2335;
    border-radius: 1rem; 
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    font-family: Nunito, sans-serif;
    transition: background 0.5s; 
}
h3 a:hover{
    background-color: #230f02;
}
#promotion{
    margin-top: 15rem;
}
main{
    text-align: center;
    font-size: 1.5rem;
    font-family: Nunito;
    margin-top: -2rem;
    color: #230f02;
}