body{
    font-family: Zen Antique Soft,serif;
    text-align: center;}

header{ 
    font-family: Zen Antique Soft, serif;
    color: #E7A748;
    display: flex;
    justify-content: space-between; /* Puts h1 left, nav right */
    align-items: center;            /* Vertically centers both */
    background-color: #230f02;
}

nav a{color: #E7A748;}

#title{
font-family: Zen Antique Soft,serif;
}

.MainText{
    text-align: left;
    font-family: Nunito;
}
